.signup-button {
    /* background-color: #f50;
    border-color: #f50;
    color: #fff;
    height: 30px;
    padding: 4px 15px;
    /* border: 1px solid #ff5501;
    border-radius: 3px; */
    /* cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    width: 415px; */
    display: inline-block;
    text-align: center;
    background-color: #f50;
    color: #fff;
    width: 410px;
    height: 48px;
    margin-left: -6px;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

form {
    display: inline;
    justify-content: center;
    align-items: center;

}

input {
    width: 400px;
    margin-left: -5px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray
}

/* .errors-list {
    text-align: start;
    align-content: center;
    margin-left: -30px
} */
