.song-details-container {
    display: grid;
    grid-template-rows: 100%;
    height: 850px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.song-details-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    opacity: 95%;
}

.player-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.player-buttons-container {
    display: grid;
    grid-template-rows: 70% 30%;
    background-color: rgb(43, 43, 43);
    height: 300px;
}

.player-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 300px;
    height: 90px;
    /* margin-left: 25px; */
}

.artist {
    color: #868686;
    font-weight: 500;
    margin-left: 15px;
    font-family: sans-serif;
}

.player-buttons-container p {
    color: rgb(105, 105, 105);
    margin-left: 15px;
    margin-top: -10px;
    font-family: sans-serif;
    font-size: 15px;
}

.title {
    color: #868686;
    font-weight: 200;
    margin-left: 15px;
    font-family: sans-serif;
    margin-top: 30px;
}

/* .audio-player {

} */
