.song-details-container {
    display: grid;
    grid-template-rows: 70% 30%;
    height: 750px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.song-details-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.player-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10%;
    width: 300px;
    height: 400px;
    align-items: center;
    background-image: linear-gradient(30deg, rgb(83, 81, 81), rgb(221, 219, 219));
    box-shadow: 2px 15px 50px 20px;
    opacity: 50%;
}

.player-box img {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    border-radius: 50%;
    margin-top: 10px;
    opacity: 200%;
}
