button {
    cursor: pointer;
}

body {
    width: 100vw;
    background-color: whitesmoke;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: -50px;
    margin-top: -10px;
    width: 100vw;
    background-color: whitesmoke;
}

html {
    overflow: auto;
    display: flex;
    justify-content: center;
}

/* .components {
    display: flex;
    justify-content: center;
    margin-left: 12%;
    position: relative;
} */

/* @media screen and (min-width: 2067px) {
    .components {
        margin-left: 22%
    }
}

@media screen and (max-width: 1654px) {
    .components {
        margin-left: 0%
    }
} */
