button {
    cursor: pointer;
}

body {
    width: 100vw;
    background-color: whitesmoke;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: -50px;
    margin-top: -10px;
    width: 100vw;
}

html {
    overflow: auto;
}
