.banner-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_c-318d7eed.jpg);
    background-size: cover;
    height: 600px;
    width: 95vw;
    margin-right: 18px;
    border-top: 7px solid #f50;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: auto;
    ;
}

.create-account-button {
    padding: 20px 0px 0px 5px;
    margin-right: 25px;
}

.create-account-button button {
    display: inline-block;
    height: 30px;
    width: 125px;
    margin: 0;
    padding: 2px 11px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-weight: 100;
    text-align: center;
    vertical-align: initial;
    box-sizing: border-box;
    position: relative;
    background-color: #f50;
    color: white;
    border-color: #f50;
    font: Arial;
    font-family: sans-serif;
}

.signin-button {
    padding: 20px 5px 15px 5px;
}

.signin-button button {
        display: inline-block;
        position: relative;
        height: 30px;
        margin: 0;
        padding: 2px 11px 2px 10px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background-color: #fff;
        cursor: pointer;
        color: #333;
        font-size: 14px;
        line-height: 20px;
        white-space: nowrap;
        font-family: sans-serif;
        font-weight: 100;
        text-align: center;
        vertical-align: initial;
        box-sizing: border-box;
        background-color: black;
        color: white;
        border-color: white;
}

.for-creators-button button {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    background-color: transparent;
    border-color: transparent;
    font-weight: 100;
    height: 30px;
}

.for-creators-button {
    padding: 20px 30px 15px 0px;
}

.logo {
    display: flex;
    flex-direction: row;
    margin: 20px 25px;
    align-items: flex-start;
    width: 5px;
    height: 20px;
}

.logo h4 {
    color: white;
    margin-top: 2px;
}

.logo-container {
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-around;
}

.banner-words {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 20px;
}

.growing {
    display: flex;
    font-family: sans-serif;
    font-size: 18px;
    width: 40%;
    flex-wrap: wrap;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: 100;
}

.learn-more {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 100;
    width: 150px;
    height: 46px;
    margin-right: 25px;
    font-size: 16px;
}

.trial {
    background-color: #f50;
    border: 1px solid #f50;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 46px;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 16px;
}

.profile-banner-container {
    display: flex;
    background-color: rgb(66, 62, 62);
    height: 43px;
    justify-content: center;
    width: 100vw;
    padding-right: 80px;
}

/* .profile-banner-container button {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.dropdown-container {
    display: flex;
}

.home-button-logo {
    background-color: black;
}

.home-button {
    display: flex;
    font-family: sans-serif;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 100;
    background-color: transparent;
    color: white;
    height: 43px;
    width: 175px;
    align-items: center;
    border-color: black;
}

.songs-button {
    background-color: transparent;
    border-color: transparent;
    font-family: sans-serif;
    color: #ccc;
    width: 100px;
    font-size: 14px;
    font-weight: 100;
}

.songs-button:hover {
    color: rgb(247, 241, 241)
}


.albums-button {
    background-color: transparent;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: sans-serif;
    color: #ccc;
    width: 100px;
    font-size: 14px;
    font-weight: 100;
}

.albums-button:hover {
    color: rgb(247, 241, 241)
}

.mini-search-bar {
    display: flex;
    width: auto;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.mini-search-bar input{
    width: 42vw;
    height: 30px;
    border-color: transparent;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}

.mini-search-bar button {
    margin-top: -5px;
}

.dropdown-container {
    display: flex;
    width: 200px;
}
.username-button {
    display: flex;
    width: 100px;
}

.avatar {
    background-image: linear-gradient(135deg, #846170, #e6846e);
}

.profile-button {
    background-color: transparent;
    font-family: sans-serif;
    color: #ccc;
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: 100;
    border: 1px solid transparent;
    margin-top: -1px;
    border-left-color: black;
    margin-top: 1px;
    border-right-color: black;
}

.profile-button:hover {
    color: rgb(247, 241, 241);
}

.profile-button span {
    margin-left: 5px;
    color: white;
}

.dropdown {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    margin-top: 1px;
    list-style-type: none;
    background-color: white;
}

.dropdown li {
    margin-left: 15px;
    padding: 6px;
}

.dropdown a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.my-albums-button {
    background-color: transparent;
    border: 1px solid black;
    font-family: sans-serif;
    color: #ccc;
    width: 100px;
    font-size: 14px;
    font-weight: 100;
    border-bottom: none;
}

.about-us {
    display: block;
    flex-wrap: wrap;
    width: 80vw;
}

.about-us p {
    font-size: 32px;
    color: rgb(90, 89, 89);
}
.search-bar-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.search-bar {
    background-color: #f2f2f2;
    font-size: 16px;
    font-family: sans-serif;
    width: 600px;
    border-color: #f2f2f2;
    height: 46px;
}

#search-p {
    margin: 10px;
    font-size: 20px;
}

.upload-own-button {
    background-color: #f50;
    color: white;
    border: #f50;
    border-radius: 5px;
    font-family: sans-serif;
    width: 170px;
    height: 46px;
    font-size: 16px;
    cursor: pointer;
}

.search-bar::placeholder {
    color: rgb(162, 158, 158);
}

.search-button {
    background: transparent;
    outline: none;
    margin-left: -33px;
    border: none;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
